form{
    border: 1px solid rgb(53, 53, 66);
    max-width: 30%;
    margin: 40px auto;
    padding-bottom: 20px;
    background-color: #ffffff;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius:15px ;
}
input{
    width: 20em;
    height: 20px;
    margin-left: 27px;
    
}
h1{
    text-align: center;
    color: rgb(0, 0, 0);
    padding-bottom: 0px;
    padding-top: 50px;
}
button{
    border: none;
    width: 20.4em;
    height: 20px;
    margin-left: 27px;
    border-radius: 20px;
    color:#ffff;
    font-weight: bold;
    background-color: rgb(154, 210, 218);
    cursor: pointer;
}
img{
    width: 90%;
    margin: auto;
}
#icon{
    max-width: 75px;
    margin: auto;
    position: absolute;
    top:40.5px;
    left:31em;
    
    
}